<div class="background">
  <div class="gradient">
    <div class="container">
      <h1>Brent Turner</h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="portfolio-div">
    <img src="https://i.imgur.com/nThaaa1.jpg" style="border-radius: 50%; object-fit: cover; width: 200px; height: 200px;display: block; margin-left: auto;margin-right: auto;"/>
  </div>
  <mat-toolbar color="primary" style="width: 100%">
    <span style="left: 0">Microsoft:</span>
    <span style="padding-left: 1%">
      <a href="https://www.linkedin.com/in/brent-turner-7898b5134/"
      target="_blank" rel="noopener noreferrer">
      <fa-icon [icon]="['fab', 'linkedin']" style="color:white"></fa-icon></a>
    </span>
  </mat-toolbar>
  <div>
    <mat-card>
      <span>Position: Software Engineer II</span>
    </mat-card>
  </div>
  <div style="padding-top: 2%">
    <mat-card>Technologies</mat-card>
    <div style="padding-top: 2%">
      <mat-chip-list>
        <mat-chip color="accent" *ngFor="let technology of technologies">
          {{technology}}
        </mat-chip>
      </mat-chip-list>
    </div>
  </div>
</div>
<div class="container" rtl>

</div>
